   • Violate any applicable laws or regulations.<br>
   • Post or share any content that is harmful, abusive, obscene, or offensive.<br>
   • Impersonate any person or entity or falsely represent your affiliation with any person or entity.<br>
   •  Interfere with the proper functioning of the App or attempt to gain unauthorized access to any systems or networks.<br>
   •  Engage in any conduct that may disrupt or negatively affect other users' experience.
<a href="googlegmail://">Open Gmail</a>

   