<!DOCTYPE html>
<html lang="en">
<head>
  <title>FourtyFour</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="stylesheet" href="./static/vendors/owl-carousel/css/owl.carousel.min.css">
  
  <link rel="stylesheet" href="./static/vendors/owl-carousel/css/owl.theme.default.css">
  
  <link rel="stylesheet" href="./static/vendors/mdi/css/materialdesignicons.min.css">
  
  <link rel="stylesheet" href="./static/vendors/aos/css/aos.css">
  
  <link rel="stylesheet" href="./static/css/style.min.css">

  <link rel="icon" type="image/png" href="assets/images/portypor.png" />
</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
  
  <header id="header-section">
    
    <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
      
    <div class="container">
      
      <div class="navbar-brand-wrapper d-flex w-100">
        
        <img src="./static/images/logo44ejs.png" alt="" width="200px" height="65px">
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          
          <span class="mdi mdi-menu navbar-toggler-icon"></span>
          
        </button> 
        
      </div>
      
      <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
        
        <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
          
          <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
            <div class="navbar-collapse-logo">
              <img src="images/Group2.svg" alt="">
            </div>
            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
            </button>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#header-section">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#features-section">Terms</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#digital-marketing-section">Blog</a>  
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feedback-section">Testimonials</a>
          </li>
          <li class="nav-item btn-contact-us pl-4 pl-lg-0">
            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
          </li>
        </ul>
      </div>
    </div> 
    </nav>   
  </header>
  <div class="banner" >
    <div class="container">
      <h1 class="font-weight-semibold">Terms of Service</h1>
      <h6 class="font-weight-normal text-muted pb-3">Welcome to FourtyFour! By using our App, you agree to abide by<br> these Terms of Service ("Terms"), which govern your use of the FourtyFour application provided by Dappynet.dev Please read them carefully.</h6>
      <div>
       <a class="nav-link" href="terms#features-section"> <button class="btn btn-opacity-light mr-1">Get started</button></a>
        
      </div>
      <img src="./static/images/Group171.svg" alt="" class="img-fluid">
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <section class="features-overview" id="features-section" >
        <div class="content-header">
          <h2>Understanding Our Terms</h2>
          <h6 class="section-subtitle text-muted">These terms ensure a smooth and fair experience for all users of our application.</h6>
        </div>
        <div class="d-md-flex justify-content-between">
          <div class="grid-margin d-flex justify-content-start">
            <div class="features-width">
              
              <h5 class="py-3">1. Acceptance of Terms</h5>
              <p class="text-muted">By accessing or using the FourtyFour App, you agree to these Terms and our Privacy Policy. If you do not agree with any part of these Terms, please refrain from using the App.</p>
             
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              
              <h5 class="py-3">2.  Intellectual Property</h5>
              <p class="text-muted">All rights, title, and interest in and to the FourtyFour App, including all intellectual property rights, are owned by Developer. You may not use, reproduce, modify, or distribute any part of the App without Developer's prior written consent.</p>
             
            </div>
          </div>
          <div class="grid-margin d-flex justify-content-end">
            <div class="features-width">
             
              <h5 class="py-3">3. User Conduct</h5>
              <p class="text-muted">While using FourtyFour, you agree not to:<br> <a href="/terms/User-Conduct"><p class="readmore-link">Readmore</p></a> </p>
              
            </div>
          </div>

             <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              
              <h5 class="py-3">4. Content Ownership</h5>
              <p class="text-muted">You retain ownership of the content you create and share on FourtyFour. By posting content, you grant Developer a non-exclusive, royalty-free, worldwide, sublicensable, and transferable license to use, reproduce, modify, adapt, publish, translate, distribute, and display such content for the purposes of operating, promoting, and improving the App.</p>
             
            </div>
          </div>



 <div class="grid-margin d-flex justify-content-center">
            <div class="features-width">
              
              <h5 class="py-3">5. Disclaimer of Warranties</h5>
              <p class="text-muted">The FourtyFour App is provided "as is" and "as available," without any warranties of any kind, whether express or implied. Developer does not warrant that the App will be uninterrupted, error-free, or free from harmful components..</p>
             
            </div>
          </div>









          











          
        </div>
      </section>     
      <section class="digital-marketing-service" id="digital-marketing-section">
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 grid-margin grid-margin-lg-0" data-aos="fade-right">
            <h3 class="m-0">We provide the best features</h3>
            <div class="col-lg-7 col-xl-6 p-0">
              <p class="py-4 m-0 text-muted">with this application it is hoped that it will make it easier to share a result from a positive social sphere.</p>
              <p class="font-weight-medium text-muted">Let's imagine, create, and share your ideas with the world</p>
            </div>    
          </div>
          <div class="col-12 col-lg-5 p-0 img-digital grid-margin grid-margin-lg-0" data-aos="fade-left">
            <img src="./static/images/Group1.png" alt="" class="img-fluid">
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-12 col-lg-7 text-center flex-item grid-margin" data-aos="fade-right">
            <img src="./static/images/Group2.png" alt="" class="img-fluid">
          </div>
          <div class="col-12 col-lg-5 flex-item grid-margin" data-aos="fade-left">
            <h3 class="m-0">Leading Digital Agency
to develop<br> skills to the world.</h3>
            <div class="col-lg-9 col-xl-8 p-0">
              <p class="py-4 m-0 text-muted">Packed with impressive and well-optimized features, this app is designed to provide the best performance in sharing..</p>
              <p class="pb-2 font-weight-medium text-muted">Its smart features make it a powerful stand-alone website building tool.</p>
            </div>
            <button class="btn btn-info">Readmore</button>
          </div>
        </div>
      </section>     
      <section class="case-studies" id="case-studies-section">
        <div class="row grid-margin">
          <div class="col-12 text-center pb-5">
            <h2>we support to develop</h2>
            <h6 class="section-subtitle text-muted">We provide great support for developers and others to share their ideas in this application, therefore we provide the best features.</h6>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-primary text-center card-contents">
                  <div class="card-image">
                    <img src="./static/images/Group95.svg" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">Know more about Confidence</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Confidence</h6>
                    <p>Build confidence in socializing</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-warning text-center card-contents">
                  <div class="card-image">
                      <img src="./static/images/Group108.svg" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">Know more about how to Be an inspiration</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Be an inspiration</h6>
                    <p>Share your work and your ideas to everyone</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card mb-3 mb-lg-0" data-aos="zoom-in" data-aos-delay="400">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-violet text-center card-contents">
                  <div class="card-image">
                      <img src="./static/images/Group126.svg" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">Know more about Connect to Everyone</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Connect to Everyone</h6>
                    <p>develop a sense of socializing with others</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3 stretch-card" data-aos="zoom-in" data-aos-delay="600">
            <div class="card color-cards">
              <div class="card-body p-0">
                <div class="bg-success text-center card-contents">
                  <div class="card-image">
                      <img src="./static/images/Group115.svg" class="case-studies-card-img" alt="">
                  </div>  
                  <div class="card-desc-box d-flex align-items-center justify-content-around">
                    <div>
                      <h6 class="text-white pb-2 px-3">Know more about how to Be creative</h6>
                      <button class="btn btn-white">Read More</button>
                    </div>
                  </div>
                </div>   
                <div class="card-details text-center pt-4">
                    <h6 class="m-0 pb-1">Be creative</h6>
                    <p>Be creative to be an inspiration to everyone</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>     
      <section class="customer-feedback" id="feedback-section">
        <div class="row">
          <div class="col-12 text-center pb-5">
            <h2>Feedback From Users</h2>
            <h6 class="section-subtitle text-muted m-0">with service and experience in the application.</h6>
          </div>
          <div class="owl-carousel owl-theme grid-margin">
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                      <img src="./static/images/face9.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">with this application is expected to help to develop creativity for socializing.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Laksamana Ibrahim Rhino</h6>
                    <h6 class="customer-designation text-muted m-0">Chairman of the Student body <b>(KETOS 🥶)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/Deppy.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">I hope this application can provide a new scope that can create confidence and creativity.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Rizky Daffy A.F</h6>
                    <h6 class="customer-designation text-muted m-0">Just An Ordinary Student A.K.A <b>(Developers 😝)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/ojan.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">wow, it's great that with this application I can explore the hobbies and achievements of other students.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Fauzan Luthfikal</h6>
                    <h6 class="customer-designation text-muted m-0">the best class leader <br> <b>(Verified Student 😎)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/mutiul.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">This app is very helpful for students who share hobbies and ideas with everyone. thx see you all</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">M.R.K</h6>
                    <h6 class="customer-designation text-muted m-0">Just An Ordinary Student <br><b>(Verified Student 💝)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/bolang.jpeg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">wow this application really helps me to make friends and get to know and socialize with friends.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Azma Ihan Fajri</h6>
                    <h6 class="customer-designation text-muted m-0">Just An Ordinary Student <b>(Verified Student 🔍)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/marsa.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">It's like a window into a world of shared interests, and I've already learned so much from other students.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Marssya Angely</h6>
                    <h6 class="customer-designation text-muted m-0">Just An Ordinary Student <b>(Verified Student ❔)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/renal.jpeg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted">"I'm thoroughly impressed by how this platform enables me to delve into the hobbies and milestones of my peers.</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Renald</h6>
                    <h6 class="customer-designation text-muted m-0">Just An Ordinary Student <b>(Verified Student ✔)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/jonson.jpeg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted"> It's opened up a whole new world of discovering hobbies and achievements of other students..</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Jhansen</h6>
                    <h6 class="customer-designation text-muted m-0">Just An Ordinary User <br> <b>(Verified Student 😄)</b></h6>
                  </div>
                </div>
              </div>
              <div class="card customer-cards">
                <div class="card-body">
                  <div class="text-center">
                    <img src="./static/images/orhan.jpg" width="89" height="89" alt="" class="img-customer">
                    <p class="m-0 py-3 text-muted"> It's a brilliant way to foster connections and a sense of community. and best aplication ever</p>
                    <div class="content-divider m-auto"></div>
                    <h6 class="card-title pt-3">Orhan</h6>
                    <h6 class="customer-designation text-muted m-0">Just An Ordinary User <br> <b>(Verified Student ✅)</b></h6>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
      <section class="contact-us" id="contact-section">
        <div class="contact-us-bgimage grid-margin" >
          <div class="pb-4">
            <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Interested in Becoming a Developer?</h4>
            <h4 class="pt-1" data-aos="fade-down">Contact us</h4>
          </div>
          <div data-aos="fade-up">
            <button class="btn btn-rounded btn-outline-danger">Contact us</button>
          </div>          
        </div>
      </section>
      <section class="contact-details" id="contact-details-section">
        <div class="row text-center text-md-left">
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <img src="./static/images/logo44ejs.png" alt="" class="pb-2"  style="width:200px;height:65px;">
            <div class="pt-2">
              <p class="text-muted m-0">fourtyfourapp@gmail.com</p>
              <p class="text-muted m-0">851-5659-1459</p>
            </div>         
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Get in Touch</h5>
            <p class="text-muted">Don’t miss any updates of our new templates and extensions.!</p>
            <form>
              <input type="text" class="form-control" id="Email" placeholder="Email id">
            </form>
            <div class="pt-3">
              <button class="btn btn-dark">Subscribe</button>
            </div>   
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
            <h5 class="pb-2">Our Guidelines</h5>
            <a href="/terms"><p class="m-0 pb-2">Terms</p></a>   
            <a href="#" ><p class="m-0 pt-1 pb-2">Privacy policy</p></a> 
            <a href="#"><p class="m-0 pt-1 pb-2">Cookie Policy</p></a> 
            <a href="#"><p class="m-0 pt-1">Discover</p></a> 
          </div>
          <div class="col-12 col-md-6 col-lg-3 grid-margin">
              <h5 class="pb-2">Our address</h5>
              <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p>
              <div class="d-flex justify-content-center justify-content-md-start">
                <a href="#"><span class="mdi mdi-facebook"></span></a>
                <a href="#"><span class="mdi mdi-twitter"></span></a>
                <a href="#"><span class="mdi mdi-instagram"></span></a>
                <a href="#"><span class="mdi mdi-linkedin"></span></a>
              </div>
          </div>
        </div>  
      </section>
      <footer class="border-top">
        <p class="text-center text-muted pt-4">Copyright © 2019<a href="https://www.bootstrapdash.com/" class="px-1">Bootstrapdash.</a>All rights reserved.</p>
      </footer>
      <!-- Modal for Contact - us Button -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">Contact Us</h4>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="Name">Name</label>
                  <input type="text" class="form-control" id="Name" placeholder="Name">
                </div>
                <div class="form-group">
                  <label for="Email">Email</label>
                  <input type="email" class="form-control" id="Email-1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="Message">Message</label>
                  <textarea class="form-control" id="Message" placeholder="Enter your Message"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>
  <script src="./static/vendors/jquery/jquery.min.js"></script>
  <script src="./static/vendors/bootstrap/bootstrap.min.js"></script>
  <script src="./static/vendors/owl-carousel/js/owl.carousel.min.js"></script>
  <script src="./static/vendors/aos/js/aos.js"></script>
  <script src="./static/js/landingpage.js"></script>
</body>
</html>